* {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	position: absolute;

	/* font-size: 16px;
	color: #666;
	margin: auto;
  	width: 50%;
	margin-bottom: 10px;
  	padding: 10px; */
	/* width:auto; */
}

.scroll {
	min-width: 30;
	max-width: 100;
	overflow-x: auto;
	background-color: aqua;
}

.chart-padding{
	margin: 5vw;
	padding: 5vw;
}


svg {
	display: flex;
	flex-direction: row-reverse;
	/* background-color: aqua; */
	width: fit-content;
}

text {
	fill: gainsboro;
	color: gainsboro;
	font-size: 16px;
}

.subtitle text {
	text-decoration: underline;
	font-size: 12px;
}

.axis .domain,
.axis.xAxis line {
	/* display: none;
	width:auto;
	overflow-x: scroll; */
}
